/***tags***/
body {
  color: #125B50;
  margin: 0;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 100%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rock Salt', cursive;
  font-size: 5.625rem;
  color: #A1B57D;
  line-height: 2;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  color: #A1B57D;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #91C483
}

hr {
  border-style: dotted none none none;
  border-color: #CEE6B4;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #5A8F7B;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #91C483;
}

/***class***/
.top-container {
  background-color: #D3ECA7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #A1B57D;
  padding: 50px 0 20px;
}

.cre {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}
.mountain{
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 15%;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
  width: 15%;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.code-img {
  max-width: 25%;
  float: left;
  margin-right: 30px;
}

.game-img {
  max-width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #D3ECA7;
  background-image: -webkit-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -moz-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -ms-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: -o-linear-gradient(top, #D3ECA7, #A1B57D);
  background-image: linear-gradient(to bottom, #D3ECA7, #A1B57D);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #A1B57D;
  background-image: -webkit-linear-gradient(top, #A1B57D, #1F441E);
  background-image: -moz-linear-gradient(top, #A1B57D, #1F441E);
  background-image: -ms-linear-gradient(top, #A1B57D, #1F441E);
  background-image: -o-linear-gradient(top, #A1B57D, #1F441E);
  background-image: linear-gradient(to bottom, #A1B57D, #1F441E);
  text-decoration: none;
}
